<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<th:block layout:fragment="content">
    <div style="width: 509px; height: 1092px; float: left">

    </div>
    <div style="float: left">
        <table class="table table-dark table-borderless" style="width: 1368px; color: white; height: 300px;">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">이름</th>
                <th scope="col" class="text-center">신고누적 횟수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="text-center">1</th>
                <td class="text-center">newy12</td>
                <td class="text-center">김영재</td>
                <td class="text-center">3회</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">2</th>
                <td class="text-center">hsw12</td>
                <td class="text-center">허선웅</td>
                <td class="text-center">2회</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">3</th>
                <td class="text-center">sin12</td>
                <td class="text-center">신승욱</td>
                <td class="text-center">2회</td>
            </tr>
            </tbody>
        </table>
    </div>


</th:block>

</html>